In [1]:
import pandas as pd
import networkx as nx

In [2]:
data_dir = "../../data/"

df_user_artists = pd.read_table(f"{data_dir}hetrec2011-lastfm-2k/user_artists.dat")
df_tagged = pd.read_table(f"{data_dir}hetrec2011-lastfm-2k/user_taggedartists-timestamps.dat")

In [3]:
df_user_artists.head()

   userID  artistID  weight
0       2        51   13883
1       2        52   11690
2       2        53   11351
3       2        54   10300
4       2        55    8983

In [4]:
df_tagged.head()

   userID  artistID  tagID      timestamp
0       2        52     13  1238536800000
1       2        52     15  1238536800000
2       2        52     18  1238536800000
3       2        52     21  1238536800000
4       2        52     41  1238536800000

In [5]:
df = pd.merge(
    df_user_artists, 
    df_tagged, 
    on=["userID", "artistID"]
).drop_duplicates(subset=["userID", "artistID"])

In [6]:
df.head()

    userID  artistID  weight  tagID      timestamp
0        2        52   11690     13  1238536800000
5        2        63    3735     13  1238536800000
9        2        73    2584     13  1238536800000
17       2        94    1373     13  1238536800000
25       2        96    1342     19  1238536800000

In [7]:
G = nx.Graph()

for user_id in df["userID"].unique():
    G.add_node(f"U_{user_id}", bipartite=0)

for artist_id in df["artistID"].unique():
    G.add_node(f"A_{artist_id}", bipartite=1)

for i, row in df.iterrows():
    G.add_edge(
        "U_"+str(row["userID"]), 
        "A_"+str(row["artistID"]), 
        weight=row["weight"], 
        timestamp=row["timestamp"]
    )

In [8]:
nx.write_gpickle(G, f"{data_dir}network.gpickle")